.product-list {
	@apply gap-5;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(auto, 288px));
	justify-content: center;
	.product {
		@apply max-w-72 mx-auto flex flex-col gap-4;
		.product-image {
			@apply rounded border-2 border-accent-light;
		}

		.product-details {
			@apply flex flex-col gap-3;
			.product-title {
				@apply font-playfair-display font-semibold text-accent-light/80 text-2xl;
			}
		}
	}

	@media screen {
		// TABLET STYLES
		@media (min-width: 768px) {
			@apply flex flex-col;

			.product {
				@apply max-w-none flex-row items-center even:flex-row-reverse;

				.product-image {
					@apply max-w-80;
				}

				.product-details {
					@apply max-w-80;

					.product-title {
						@apply text-3xl;
					}
				}
			}
		}

		// DESKTOP STYLES
		@media (min-width: 1024px) {
			@apply flex-row justify-around w-[250vw];

			.product {
				@apply even:flex-row;
			}
		}
	}
}
